@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MvcBox</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MvcBox</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - MvcBox - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>*@
<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="ru-RU">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Главная</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <header>

        @*<div class="navbar-header">
                         responsive nav button
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
                         /responsive nav button
                         logo
                         /logo
                    </div>*@

        <!-- main nav -->
        @*<nav class="navbar-expand-lg navbar-right" role="navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a asp-controller="Home" asp-action="Index"><img src="~/img/log.jpg" class="img-fluid" height="40" width="164" alt=""></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul id="nav" class="nav navbar-nav menu">
                            <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Index">Привет, @User.Identity.Name!</a></li>
                            <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Privacy">Политика</a></li>
                            <li class="nav-item">
                                <form class="form-inline" method="post" asp-controller="Account" asp-action="LogOff">
                                    <button type="submit" class="btn btn-success btn-sm active">Выход</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
        <nav class="navbar navbar-dark bg-violett navbar-expand-lg navbar-left" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">SmartBoxCity</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row" id="navbarItems">
                    <ul class="navbar-nav nav-fill nav-pills d-sm-inline-flex">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Calculator">Калькулятор</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Mobile">Мобильная версия</a>
                        </li>
                    </ul>

                </div>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Auth"><span class="glyphicon glyphicon-user">Личный кабинет</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>           
        


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/js/pages/AuthPage.js"></script>
        <script src="~/js/pages/CalculatorPage.js"></script>
    </environment>
</body>
</html>
